@model List<Domain.Entities.Departamento>

@{
    ViewData["Title"] = "Listado de Departamentos";
}

<h1>@ViewData["Title"]</h1>

<!-- Botón para crear un nuevo departamento -->
<div class="mb-3">
    <a asp-action="Create" class="btn btn-success">Crear Nuevo Departamento</a>
</div>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th style="text-align:center;">@Html.DisplayNameFor(model => model.First().NombreDepartamento)</th>
            <th style="text-align:center;">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var departamento in Model)
        {
            <tr>
                <td align="center" style="vertical-align:middle">@Html.DisplayFor(m => departamento.NombreDepartamento)</td>
                <td align="center" style="vertical-align:middle">
                    @Html.ActionLink("Editar", "Edit", new { id = departamento.IdDepartamento }) |
                    @Html.ActionLink("Detalles", "Details", new { id = departamento.IdDepartamento }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = departamento.IdDepartamento })
                </td>
            </tr>
        }
    </tbody>
</table>